<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/submit" method="post">
        <label for="name">Your Name:</label>
        <input type="text" name="name" id="name">
        </br>
        <label for="location">Dojo Location:</label>
        <select name="location" id="location">
            <option value="Seattle">Seattle</option>
            <option value="LA">Los Angles</option>
            <option value="Online">Online</option>
        </select>
        </br>
        <label for="language">Favorite Name:</label>
        <select name="language" id="language">
            <option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="Javascript">Javascript</option>
        </select>
        </br>
        <label for="comment">Comment (optional):</label>
        </br>
        <textarea name="comment" rows="5" cols="30"></textarea>
        </br>
        <input type="submit">
    </form>
</body>
</html>